@charset "utf-8";

* {
	font-size: 16px;
	margin: 0;
	padding: 0;
}

#editor {
	margin: 20px;
	background: grey;
	z-index: -11; 
}

svg {
	background: red;
}

.rect{
	z-index:1;
}



/* footer */
#footer{
	background:yellow;
}
